@using EPiServer.Web
@using EPiServer.Core
@using static Blend.Cms12.Helpers.HtmlHelpers
@inject IContentLoader contentLoader
@model IPageViewModel<SitePageData>

@{
    HelperResult ItemTemplate(HtmlHelpers.MenuItem item)
    {
        @if(item.HasChildren != null)
        {
            <li class="nav-item">
                <a style="cursor: default;" href="@Url.ContentUrl(item.Page.PageLink)" class="arrow @(item.Selected ? " child-active" : null)">
                    @item.Page.PageName
                </a>
                @if (item.Selected)
                {
                    <ul class="sub-menu">
                        @Html.MenuList(item.Page.ContentLink, ItemTemplate)
                    </ul>
                }
            </li>
        }
        return new HelperResult(w => Task.CompletedTask);
    }
}
<!-- ##### Header Area Start ##### -->
<div id="ll-nav-wapper" class="frame-size-70">
    <a class="ll-logo" href="@Model.Layout.LogotypeLinkUrl" title="@Model.Layout.Logotype.Title">
        <div epi-property="@Model.Layout.Logotype" />
    </a>
    <a id="btn_hamburger" class="button-hamburger">
    </a>
    <ul class="nav">
        @Html.MenuList(SiteDefinition.Current.StartPage, ItemTemplate)
    </ul>
</div>
<!-- ##### Header Area End ##### -->

<style>
    .nav-item {
        position: relative;
    }

    .arrow {
        text-decoration: none;
        display: block;
        padding: 10px;
        color: #000;
    }

    .nav-item .sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        padding: 0;
        margin: 0;
        list-style-type: none; 
        z-index: 1000;
        min-width: 150px;
        border: 1px solid #ddd; 
    }

    .nav-item:hover > .sub-menu {
        display: block;
    }


    .nav-item ul li a:hover {
        background-color: #f0f0f0;
        color: #000;
    }

</style>